*{
    color:#ececec;
    font-family:Robot,'Open Sans','Helvetica Neue',sans-serif;
}

html,
body,
#root{
    height:100%;
    overflow:hidden;
}

body{
    margin:0;
    padding:0;
}

.main{
    background-color:#212121;
    display:flex;
    height:100vh;
}