.chats{
    max-width: 700px;
    margin: 0 auto;
    padding: 4rem;
    overflow-y:auto;
}
.chats::-webkit-scrollbar{
    width: 8px;
}

.chats::-webkit-scrollbar-track{
    background: transparent;
}

.chats::-webkit-scrollbar-thumb{
    background: #3a3a3a;
    border-radius: 20px;
}

.welcomeHeading{
    text-align: center;
    width: 100%;
    margin-top: 150px;
}
.userDiv{
    display: flex;
    justify-content: flex-end;
    font-size: 0.9rem;
}

.thinklyDiv{
    text-align: left;
    font-size: 0.9rem;
}

.userMessage{
    background-color: #323232;
    padding: 10px 20px;
    border-radius: 14px;
    margin-left: 15rem;
    max-width: 500px;
    width: fit-content;
}

.hljs{
    border-radius: 14px !important;
}

pre{
    white-space: pre-wrap;
}